/*========================================================================
   FLEXBXOX FOR THE BAR THAT CONTAINS THE SEARCH BAR, MENU & THE OTHERS
===========================================================================*/
.header{
 height: 55px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 
 background-color: white;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: rgb(238, 229, 229);

}
/*=========================================================
   LEFT SECTION CONTAINS THE MENU ICON & YOUTUBE LOGO
   MIDDLE SECTION CONTAINS THE SEARCH BAR
   RIGHT SECTION CONTAINS THE UPLOAD, YOUTUBE APPS, NOTIFICATIONS & PROFILE PICTURE ICONS
   =========================================================*/
.left-section{
    display: flex;
    align-items: center;
}
.youtube-logo{
    height: 23px;
}
.menu-1{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
/* =========================================================
   MIDDLE SECTION STYLES
   =========================================================*/
.middle-section{
   flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  display: flex;
  align-items: center;
  max-width:  500px;
}
.search-box{
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    border-color: rgb(172, 172, 172);
    width: 0;
}
.search-box::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 8px;
}
.search-icon{
    height: 25px;
    margin-top: 5px;
}
.voice-search-button{
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 20px;
     background-color: rgb(243, 238, 238);
}
.voice-search{
    height: 24px;
    margin-top: 4px;
}
/* =========================================================
   RIGHT SECTION STYLES
   =========================================================*/
.right-section{
    display: flex;
    margin-right: 20px;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.youtube-apps-icon{
    height: 24px;
}

.upload-icon{
    height: 24px;
}

.youtube-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
}

.channel-picture-icon{
    height: 32px;
    border-radius: 16px;

}